<div class="app-container">
  <app-header></app-header>
  <form class="student-form" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input [(ngModel)]="newStudent.firstName" name="firstName" type="text" required />
    </label>
    <label>
      Last Name:
      <input [(ngModel)]="newStudent.lastName" name="lastName" type="text" required />
    </label>
    <label>
      Email:
      <input [(ngModel)]="newStudent.emailId" name="emailId" type="email" required />
    </label>
    <button type="submit">Add Student</button>
  </form>
  
  <div class="student-list">
    <h2>Student List</h2>
    <ul>
      <li *ngFor="let student of students">
        {{ student.firstName }} {{ student.lastName }} - {{ student.emailId }}
        <button (click)="onDeleteStudent(student.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
